{%- assign projects = site.projects | sort: 'project_number' | reverse -%}

{%- if projects.size > 0 -%}
  <ul class="projects-list">
    {%- for project in projects -%}
      <li class="project-item">
        <span class="project-number">
          {{ project.project_number }}
        </span>
        <a href="{{ project.url | relative_url }}" class="project-link">
          {{ project.title }}
        </a>
      </li>
    {%- endfor -%}
    {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
    {%- endif -%}
  </ul>
{%- endif -%}